body {
  padding: 150px;
  background-color: #dfd9c2
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid #000000;
  float: left;
}

.box-1 {
  background-color: #7fffd4;
  border-color:#008000;
}

.box-1 p {
  color:#800080;
}

.box-2 {
  background-color:#a52a2a;
  border-color:#808080;
}

.box-2 p {
  color:#ffffff;
}

.box-3 {
  background-color: #ffe4c4;
  border-color:#0000ff;
}

.box-3 p {
  color:#ff0000;
}

/*  In director se afla un document HTML cu 3 patrate
    Schimba valorile pentru fundal in valorile echivalente RGB
      Pentru primul patrat 
          Seteaza bordura verde
          Seteaza culoarea textului mov
      Pentru al doilea patrat 
          Seteaza bordura gri 
          Seteaza culoarea textului alb 
      Pentru al treilea patrat 
          Seteaza bordura albastra
          Seteaza culoarea textului rosu */
