/* In director se afla un document cu o portiune de cod HTML cu un fisier de CSS legat. 
Coloreaza elemente h1 rosii si subliniaza-le 
Coloreaza paragrafele gri 
Coloreaza ancorele din listele ordonate verde si afiseaza-le taiate cu o linie albastra
Adauga o umbra de 2px 2px 5px galbena pe elementele h2 si scoate stilul bold 
Adauga o umbra de 0 3px 5px verde pe elementele h3 si subliniaza-le cu o linie maro taiata (dotted)
Subliniaza elementele li din listele neordonate si coloreaza textul mov
Subliniaza elemente b din paragrafe si coloreaza-le galben 
Coloreaza elementele i din paragrafe albastru, afiseaza-le bold si taiate
 */

h1 {
   text-decoration:underline;
   color:red;
 }

p {
  color:grey;
}

ul, a {
  color:green;
  text-decoration:line-through;
  text-decoration-color:blue;
}

h2 {
  font-weight:normal;
  text-shadow:2px 2px 5px yellow;
}

h3 {
  text-shadow:0px 3px 5px green;
  text-decoration: line-through;
  text-decoration-style: dotted;
  text-decoration-color: brown;
}

ul, li {
  text-decoration: underline;
  color:purple;
}

p, b {
  text-decoration: underline;
  color:yellow;
}

p, i {
  color:blue;
  text-decoration: line-through;
  font-weight: bold;
}