body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  background-color: aquamarine;
}

.box-2 {
  background-color: brown;
}

.box-3 {
  background-color: bisque;
}

.box-4 {
  background-color: purple;
}

.box-5 {
  background-color: lightpink;
}


@media (max-width: 576px) {
  body {
    padding:15px;
  }
  .box-1 {
    display:none;
  }
  .box-2 {
    display:none;
  }
}

@media (max-width: 768px) {
  .box-5 {
    color:white;
  }
  .box-3 {
    border-color: green;
  }
}

@media (max-width: 992px) {
  .box-4 {
    display:none;
    color:black;
  }
  .box-3 {
    display:none;
  }
}

@media (max-width:1200px) {
  .box-5 {
    display:none;
  }
}

@media (min-width:992px) {
  .box-2 {
    color:white;
    border-color:white;
  }
  .box-4 {
    color:red;
  }
}

body > h1 {
  display:none;
}

@media (min-width:600px) and (max-width:1200px) {
  body > h1 {
    left:0px;
    display:block;
  }
}

h2 {
  display:none;
}

@media (min-width:500px) and (max-width:1000px) {
  h2 {
    display:block;
  }
}

/* In director se afla un fisier CSS cu trei media queries setate pentru trei breakpointuri diferite 
Ascunde folosind proprietatea display casuta 2 pe rezolutiile mai mici de 576
Ascunde casuta 4 pe rezolutiile mai mici de 992px 
Coloreaza textul casutei 5 alb pe rezolutiile mai mici de 768px
Adauga un media query pentru rezolutiile de pana in 1200px
Ascunde casuta 5 pe rezolutiile mai mici de 1200px
Schimba bordura casutei 3 in verde pentru rezolutiile mai mici de 768 
Ascunde casuta 3 pentru rezolutiile mai mici de 992px 
Schimba textul casutei 4 in rosu pentru rezolutiile mai mari de 992px
Adauga un media query care sa se aplice intre 600px si 1200 de px
Adauga un element h1 in document, deasupra casutelor si afiseaza-l doar intre 600px si 1200px
 */
/* Ascunde casuta 1 pentru rezolutiile mai mici de 576px
Coloreaza bordura si textul casutei 2 albe pentru rezolutiile de pana in 992 
Adauga un element h2 deasupra casutelor si afiseaza-l intre rezolutiile de 500px si 100px
Micsoreaza la 15 paddingul de pe elementul body pentru rezolutiile de sub 576px 
Creeaza un element h3 sub casute si afiseaza-l pentru rezolutiile MAI MARI de 576px (min-width)
Coloreaza rosu acest nou element pentru rezolutiile mai mari de 1000px 
Ascunde din nou elementul nou pentru rezolutiile mai mari de 1200px
 */

 h3 {
   display:none;
   bottom:0;
 }

 @media (min-width:576px) {
   h3 {
     display:block;
   }
 }

 @media (min-width:1000px) {
   h3 {
     color:red;
   }
 }

 @media (max-width:1200px) {
   h3 {
     display:none;
   }
 }